body {
  font-family: Mulish, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.f-inter {
  font-family: Inter, Helvetica, sans-serif;
}

.f-heading {
  font-family: "Playfair Display", "Times New Roman", serif;
}

.btn {
  background: #fb8f1d;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 15px;
  width: 100%;
  border-radius: 8px;
  transition: background 0.2s ease-out;
}

.btn:hover {
  background: #f38209;
}

.btn_bordered {
  background: transparent;
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
}

.btn_bordered:hover {
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1260px;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  color: #b8becd;
  justify-content: space-around;
}

.header__nav-list li {
  margin-right: 34px;
}

.burger__menu {
  display: none;
}

.header__nav-list a {
  font-weight: 500;
  line-height: 1.2;
  color: #b8becd;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.header__nav-list a:hover {
  color: #202336;
}

.header__form {
  display: flex;
  align-items: center;
}

.header__btn {
  width: 132px;
  height: 44px;
  flex-shrink: 0;
}

.header__btn:first-child {
  margin-right: 18px;
}

/*============== Adaptiv ===================================*/

@media (max-width: 768px) {
  .header {
    padding: 24px 0;
  }
  .header__right {
    display: none;
  }

  /* Burger-menu*/
  .burger__menu {
    width: 40px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0;
  }
  .burger__menu span {
    height: 3px;
    width: 100%;
    background: #515758;
  }
}
