/* Нет глобальных обьявлений шрифтов */

.container {
  margin: 0 auto;
  width: 100%;
  /* Неверная ширина контейнера, должно быть 1220 */
  max-width: 1220px;
}
.header {
  position: sticky;
  top: 0;
  /* Не используй такие z-index, если на странице будет несколько элементов с z-index то будет сложно подгонять. Начинай с маленьких чисел */
  z-index: 3;
  display: flex;
  /* space-around здесь не подойдет, тебе не нужно неконтролируемое место по бокам, используй space-between */
  justify-content: space-between;
  align-items: center;
  
  padding: 35px 0;
  max-width: 1235px;
}
/* Из-за того что ты центрируешь логотип кажется что страница смещается вправо */
.header__logo {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.head__nav {
  width: 50%;
  display: flex;
  color: #b8becd;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 0 0 20px;
  /* Большой padding слева, трудно будет адаптировать, или используй проценты или ограничь ширину блока */
  padding: 0 0 0 20%;
}

.head__nav a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  /* line-height: 19px/16px = 1.2. Относительные значения */
  line-height: 19px;
  color: #b8becd;
}
.head__nav a:hover {
  /* Добавь какой нибудь transition для красоты */
  cursor: pointer;
  color: black;
  transition-duration: 1s;
}

.head__form {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-size: 15px;
}
.head__nav-login {
  width: 132px;
  height: 44px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  margin: 0 20px 0 0;
  background: white;
  color:#FB8F1D;
}
.nav__head-btm {
  width: 132px;
  height: 44px;
  background: #fb8f1d;
  border-radius: 8px;
  color: white;
}
.travel__form{
  display: flex;
  max-width: 1200px;
}
.travel__all-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.travel__form-1 {
  display: flex;
  max-width: 356px;
  max-height: 160px;
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 64px;
  color:#202336;
}
.travel__form-txt {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 22px;
  color:#202336;
}
.travel__form-brdr{
  display: block;
  border: 1px solid #202336;
  max-width: 32px;
}
.travel__form-grid {
  display:grid;
  border: 1px solid red;
  max-width: 50%;
  grid-template-columns: 20% 20%;
  grid-template-rows: 20% 20%;
}
.travel__form-grid ol {
  width: 220px;
  height: 52px;
  border: 1px solid red;
}
.travel__form-pplimg{
  max-width: 600px;
  object-fit: cover;
  position: absolute;
  right: 18%;
}








/*============== Adaptiv ===================================*/

@media (max-width: 1235px) {
  .header__logo{
    margin: 0 -30px 0 0;
  }
  }
  /* Для button у тебя есть класс в разметке*/
  .head__form button {
    /* Отрицательный margin здесь не нужен, кнопка смещается из-за того что ее смещает предыдущий элемент */
    margin: 0px 0 0 10px;
  }


@media (max-width: 960px) {
  .head__nav, .head__form {
    /* Так на адаптиве не делают со ссылками. Если не влезают - уменьшай отступы, шрифт, или скрывай и выноси их в мобильное меню */
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
  }
  .head__form button{
    margin: 10px 0 0 0;
  }
  .head__nav a {
    /* padding: 10px 0 0 */
    padding: 10px 0 0;
  }
}

@media (max-width: 768px) {
  .header {
    height: 60px;
    margin-top: 48px;
    /* не уменьшил padding на мобиле, хедер высотой 60px а отступов на 70px */
  }
  .head__nav, .head__form {
    display: none;
  }

    /* можно обьединить селекторы */
    
  
  /* Burger-menu*/
  .burger__menu {
    position: relative; /* относительное позицианирование*/
    width: 40px; /*Размеры блока*/
    height: 35px;
    display: block;
    margin-left: 10px;
  }
  .burger__menu span,
  .burger__menu::after,
  .burger__menu::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .burger__menu span {
    top: 21px;
  }
  .burger__menu::after,
  .burger__menu::before {
    content: "";
  }
  .burger__menu::after {
    bottom: 5px;
  }
  .burger__menu::before {
    top: 14px;
  }
  /*==============================*/
}

/* шапка на адаптиве начинает прилипать к бокам */
/* бургер должен быть скрыт на десктопе через display:none */
/* Слишком большие поля на мобильной версии */
/* разные отступы у before и after у бургера, выглядит неровно */
