body {
  font-family:'Inter' 'Mulish' 'Playfair';
}

.container {
  margin: 0 auto;
  width: 100%;
  /* Неверная ширина контейнера, должно быть 1220 */
  max-width: 1220px;
}
.header {
  position: sticky;
  top: 0;
  /* Не используй такие z-index, если на странице будет несколько элементов с z-index то будет сложно подгонять. Начинай с маленьких чисел */
  z-index: 1;
  display: flex;
  /* space-around здесь не подойдет, тебе не нужно неконтролируемое место по бокам, используй space-between */
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  max-width: 1235px;
}
/* Из-за того что ты центрируешь логотип кажется что страница смещается вправо */
.header__logo {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.head__nav {
  width: 50%;
  display: flex;
  color: #b8becd;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 0 0 20px;
  /* Большой padding слева, трудно будет адаптировать, или используй проценты или ограничь ширину блока */
  padding: 0 0 0 20%;
}

.head__nav-spisok {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.head__nav a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  /* line-height: 19px/16px = 1.2. Относительные значения */
  line-height: 1.1875rem;
  color: #b8becd;
}
.head__nav a:hover {
  /* Добавь какой нибудь transition для красоты */
  cursor: pointer;
  color: black;
  transition-duration: 1s;
}

.head__form {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-size: 15px;
}
.head__nav-login {
  width: 132px;
  height: 44px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  margin: 0 20px 0 0;
  background: white;
  color:#FB8F1D;
}
.nav__head-btm {
  width: 132px;
  height: 44px;
  background: #fb8f1d;
  border-radius: 8px;
  color: white;
}
.travel__form{
  display: flex;
  max-width: 1200px;
  margin: 80px 0 0 0;
}
.travel__all-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.travel__form-1 {
  display: flex;
  max-width: 356px;
  max-height: 160px;
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 64px;
  color:#202336;
}
.travel__form-svgtop {
  position: absolute;
  top: 20%;
  left:42%;
  
}
.travel__form-txt {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 22px;
  color:#202336;
}
.travel__form-brdr{
  display: block;
  border: 1px solid #202336;
  max-width: 32px;
  margin: -65px 0 0 0;
}
.travel__form-svgleft{
  position: absolute;
  top: 55%;
  left: 80px;
}
.travel__form-grid {
  display:inline-grid;
  max-width: 50%;
  grid-template-columns: 220px 220px;
  grid-template-rows: 35px;
  grid-gap: 35px 30px;
}
.travel__form-grid ol {
  width: 220px;
  height: 52px;
  text-align: center;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  border: 1px solid red;
}
.travel__form-explr{
  width: 180px;
  height: 50px;
  background: #FB8F1D;
  border-radius: 8px;
  color: white;
  font-family: 'Mulish';

}
.travel__form-explr:hover {
  background: yellow;
  color:black;
  transition-duration: 1s;
}
.travel__form-svgbottom {
  position: absolute;
  top: 90% ;
  left: 46%;
}
.travel__form-pplimg{
  max-width: 600px;
  object-fit: cover;
  margin: 0 0 0 10%;
}

.travel__info {
  width: 100%;
  max-width: 1220px;
  height: 34.375rem;
  display: flex;
  justify-content: space-between;
  margin: 17.5rem 0 0 0;
}
.travel__info-imgobj {
  object-fit: cover;
}
.travel__info-abzc {
  display: flex;
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 50px;
  width: 30.0625rem;
  height: 6.25rem;
  margin: 5.625rem 0 0 3.3125rem;
}
.travel__info-text {
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width: 450px;
  height: 100%;
  max-height: 120px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 1.0625rem;
  line-height: 1.875rem;
  color: #7D7987;
  margin: 20px 0 0 3.3125rem;
  padding: 0 4.0625rem 0 0;
}
.travel__info-svg2 {
  position: absolute;
  margin: 26px 0 0 26.8125rem;
}
.travel__info-orange {
  font-family: 'Inter';
  width: 100%;
  max-width: 164px;
  height: 100%;
  max-height: 48px;
  text-align: center;
  background: #FB8F1D;
  border-radius: 8px;
  color: white;
  margin: 39px 0 0 45px;
}
.travel__info-orange:hover {
  background: yellow;
  color: black;
  transition-duration: 1s;
  cursor: pointer;
}

.destinations {
  width: 100%;
  height: 33.125rem;
  margin: 16.375rem 0 0 0;
}
.destinations__top-svg{
  display: flex;
  justify-content: flex-end;
  margin-right: 141px;
}
.destinations__info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.destinations__info-txt{
  font-family: 'Playfair Display';/*Добавить шрифт в проэкт*/
  font-weight: 700;
  font-size: 36px;
  width: 30.0625rem;
  height: 3.125rem;
}
.destinations__info-rightOrange{
  width: 79px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.destinations__info-view{
  width: 4rem;
  height: 3.75rem;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1rem;
  line-height: 3.75rem;
  color: rgba(251, 143, 29, 1);
}
.destinations__info-view:hover{
  color:rgb(10, 10, 10);
  transition-duration: 1s;
}
.destinations__info-view-arrow {
  margin: 23px 0 0 0;
}

.destinations__info-svgCenter{
  position: absolute;
  margin: 10.0625rem 0 0 -5.75rem;
  transform: rotate(7.49deg);
}

.destinations__card {
  width: 100%;
  height: 21.0625rem;
  display: flex;
  justify-content: space-between;
}
.destinations__card-raja{
  width: 16.3125rem;
  height: 21.0625rem;
  
}
.destinations__card-rajaFoto{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.destinations__card-raja-info {
  width: 7.5rem;
  height: 56px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 0px 6px 0px 0px;
  position:absolute;
  margin:-3.4375rem 0 0 0;
  
}
.destinations__card-allHeader {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  color:rgba(4, 37, 33, 1);
}
.destinations__card-allTxt {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(128, 145, 142, 1);
}

.destinations__svg-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 85px 0 0;
}

/*======================== GUIDES ==================*/
.guides {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 14.375rem;
}
.guides__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.guides__left-topimg {
  padding: 0 0 0 2.8125rem;
}
.guides__left-title {
  font-family: 'Playfair Display';
  font-size: 2.25rem;
  font-weight: 700;
  margin: -10.625rem 0 0 0;
}
.guides__left-txt {
  font-family: 'Mulish';
  font-size: 1.0625rem;
  font-weight: 300;
  max-width: 28.125rem;
  color: rgba(125, 121, 135, 1);
  margin: -11.875rem 0 0 0;
}
.guides__left-btm {
  width: 100%;
  max-width: 10.25rem;
  height: 3rem;
  color:rgba(255, 255, 255, 1);
  background: rgba(251, 143, 29, 1);
  border-radius: 8px;
  margin: -11.25rem 0 0 0;
}
.guides__left-btm:hover {
  background: yellow;
  color: black;
  transition-duration: 1s;
}
.guides__left-imgBottom{
  transform: rotate(20.42deg);
  position: absolute;
  margin: 160px 0 5.625rem 28rem;
}
.guides__right-imgRightTop{
  position: absolute;
  margin: 35px 0 0 0;
  transform: rotate(9.99deg);
  right: 15%;
}




.footer {
  width: 100%;
  height: 30.125rem;
  border: 1px solid red;
  margin: 100px 0;
}

/*============== Adaptiv ===================================*/
@media (max-width:1450px){
  .travel__all-form svg{
    display: none;
  }
}
@media (max-width: 1235px) {
  .header__logo{
    margin: 0 -100px 0 0;
  }
  }
  /* Для button у тебя есть класс в разметке*/
  .head__form button {
    /* Отрицательный margin здесь не нужен, кнопка смещается из-за того что ее смещает предыдущий элемент */
    margin: 0px 0 0 10px;
  }
  .travel__form {
    margin: 0 0 0 25px ;
  }
  .travel__form-pplimg{
    margin: 0 0 0 0;
  }
.test{
  color:black;
}

@media (max-width: 960px) {
  .head__nav, .head__form {
    /* Так на адаптиве не делают со ссылками. Если не влезают - уменьшай отступы, шрифт, или скрывай и выноси их в мобильное меню */
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
  }
  .head__form button{
    margin: 10px 0 0 0;
  }
  .head__nav a {
    /* padding: 10px 0 0 */
    padding: 10px 0 0;
  }
}

@media (max-width: 768px) {
  .header {
    height: 60px;
    margin-top: 48px;
    /* не уменьшил padding на мобиле, хедер высотой 60px а отступов на 70px */
  }
  .head__nav, .head__form {
    display: none;
  }

    /* можно обьединить селекторы */
    
  
  /* Burger-menu*/
  .burger__menu {
    position: relative; /* относительное позицианирование*/
    width: 40px; /*Размеры блока*/
    height: 35px;
    display: block;
    margin-left: 10px;
    padding: 0 0 0 15px;
  }
  .burger__menu span,
  .burger__menu::after,
  .burger__menu::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .burger__menu span {
    top: 21px;
  }
  .burger__menu::after,
  .burger__menu::before {
    content: "";
  }
  .burger__menu::after {
    bottom: 5px;
  }
  .burger__menu::before {
    top: 14px;
  }
  /*==============================*/
}

/* шапка на адаптиве начинает прилипать к бокам */
/* бургер должен быть скрыт на десктопе через display:none */
/* Слишком большие поля на мобильной версии */
/* разные отступы у before и after у бургера, выглядит неровно */
